@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap);
@charset "UTF-8";
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-inst:before {
  content: "\e900";
}

._icon-twitter:before {
  content: "\e901";
}

._icon-arrow:before {
  content: "\e902";
}

._icon-basketball:before {
  content: "\e903";
}

._icon-cube:before {
  content: "\e904";
}

._icon-dog:before {
  content: "\e905";
}

._icon-facebook:before {
  content: "\e906";
}

::-webkit-scrollbar {
  width: 12px;
  height: 0.625rem;
}

::-webkit-scrollbar-track {
  background: #faf8f5;
  box-shadow: 4px 1px 8px -2px rgba(34, 60, 80, 0.2) inset;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, #4338ca, #3730a3);
  border-radius: 15px;
  border: 2px solid #faf8f5;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to top, #dce35bc4, #45b649b9);
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #1f2937;
  line-height: 1;
  font-family: "Inter";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 73.75rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.border {
  color: #3730a3;
  border: 1px solid #3730a3;
  border-radius: 6px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
}

.title {
  font-weight: 600;
  text-align: center;
  max-width: 65rem;
  margin: 0 auto;
}
@media (min-width: 75.625em) {
  .title {
    font-size: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 75.625em) {
  @supports (font-size: clamp( 1.875rem , 1.470505618rem  +  2.0224719101vw , 3rem )) {
    .title {
      font-size: clamp( 1.875rem , 1.470505618rem  +  2.0224719101vw , 3rem );
    }
  }
  @supports not (font-size: clamp( 1.875rem , 1.470505618rem  +  2.0224719101vw , 3rem )) {
    .title {
      font-size: calc(1.875rem + 1.125 * (100vw - 20rem) / 55.625);
    }
  }
}
@media (max-width: 20em) {
  .title {
    font-size: 1.875rem;
  }
}
.title span {
  color: #3730a3;
}
@media (max-width: 47.99875em) {
  .title {
    text-align: left;
  }
}

@media (min-width: 75.625em) {
  .padding {
    padding-top: 4.6875rem;
  }
}
@media (min-width: 20em) and (max-width: 75.625em) {
  @supports (padding-top: clamp( 1.875rem , 0.8637640449rem  +  5.0561797753vw , 4.6875rem )) {
    .padding {
      padding-top: clamp( 1.875rem , 0.8637640449rem  +  5.0561797753vw , 4.6875rem );
    }
  }
  @supports not (padding-top: clamp( 1.875rem , 0.8637640449rem  +  5.0561797753vw , 4.6875rem )) {
    .padding {
      padding-top: calc(1.875rem + 2.8125 * (100vw - 20rem) / 55.625);
    }
  }
}
@media (max-width: 20em) {
  .padding {
    padding-top: 1.875rem;
  }
}
@media (min-width: 75.625em) {
  .padding {
    padding-bottom: 4.6875rem;
  }
}
@media (min-width: 20em) and (max-width: 75.625em) {
  @supports (padding-bottom: clamp( 1.875rem , 0.8637640449rem  +  5.0561797753vw , 4.6875rem )) {
    .padding {
      padding-bottom: clamp( 1.875rem , 0.8637640449rem  +  5.0561797753vw , 4.6875rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.875rem , 0.8637640449rem  +  5.0561797753vw , 4.6875rem )) {
    .padding {
      padding-bottom: calc(1.875rem + 2.8125 * (100vw - 20rem) / 55.625);
    }
  }
}
@media (max-width: 20em) {
  .padding {
    padding-bottom: 1.875rem;
  }
}

.scale {
  transform: scale(0);
  opacity: 0;
  transition: all 0.6s ease 0s;
}
.scale._watcher-view {
  transform: scale(1);
  opacity: 1;
}

.appearence {
  opacity: 0;
  transition: all 1.5s ease 0s;
}
.appearence._watcher-view {
  opacity: 1;
}

.move-left {
  transform: translate(-100%, 0px);
  opacity: 0;
  transition: all 0.3s ease 0s;
}
.move-left._watcher-view {
  opacity: 1;
  transform: translate(0px, 0px);
}

.move-right {
  transform: translate(100%, 0px);
  opacity: 0;
  transition: all 0.3s ease 0s;
}
.move-right._watcher-view {
  opacity: 1;
  transform: translate(0px, 0px);
}

.move-top {
  transform: translate(0, -150%);
  opacity: 0;
  transition: all 1s ease 0s;
}
.move-top._watcher-view {
  opacity: 1;
  transform: translate(0px, 0px);
}

.move-bottom {
  transform: translate(0, 150%);
  opacity: 0;
  transition: all 1s ease 0s;
}
.move-bottom._watcher-view {
  opacity: 1;
  transform: translate(0px, 0px);
}

.header {
  padding: 5.625rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  transition: all 0.3s ease 0s;
}
@media (max-width: 37.5em) {
  .header {
    padding: 30px 0;
  }
}

._header-scroll {
  background-color: #fff;
  padding: 0.625rem 0;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 3.875rem;
}
.menu__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 3.875rem;
  flex: 0 0 3.875rem;
  font-size: 1.375rem;
  font-weight: 600;
  background-color: #eeebff;
  color: #4338ca;
  border-radius: 50%;
  transform: rotate(30deg);
}
@media (any-hover: hover) {
  .menu__logo {
    transition: all 0.3s ease 0s;
  }
  .menu__logo:hover {
    transform: rotate(0deg);
    color: #eeebff;
    background-color: #4338ca;
  }
}
@media (max-width: 37.5em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    z-index: 25;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: top 0.3s ease 0s;
  }
  .menu-open .menu__body {
    top: 0;
  }
}
.menu__list {
  display: flex;
  align-items: center;
  column-gap: 5rem;
}
@media (min-width: 75.625em) {
  .menu__list {
    column-gap: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 75.625em) {
  @supports (column-gap: clamp( 1.25rem , -0.0983146067rem  +  6.7415730337vw , 5rem )) {
    .menu__list {
      column-gap: clamp( 1.25rem , -0.0983146067rem  +  6.7415730337vw , 5rem );
    }
  }
  @supports not (column-gap: clamp( 1.25rem , -0.0983146067rem  +  6.7415730337vw , 5rem )) {
    .menu__list {
      column-gap: calc(1.25rem + 3.75 * (100vw - 20rem) / 55.625);
    }
  }
}
@media (max-width: 20em) {
  .menu__list {
    column-gap: 1.25rem;
  }
}
@media (max-width: 37.5em) {
  .menu__list {
    flex-direction: column;
    row-gap: 1.5625rem;
  }
}
.menu__link {
  font-size: 1.125rem;
  line-height: 1.5555555556;
  font-weight: 500;
  color: #6b7280;
  transition: all 0.3s ease 0s;
  position: relative;
}
.menu__link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0.125rem;
  bottom: -4px;
  left: 50%;
  background-color: #4338ca;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #4338ca;
  }
  .menu__link:hover::after {
    width: 100%;
    left: 0;
  }
}
.menu__link--hire {
  color: #3730a3;
}
.menu__link--hire::after {
  display: none;
}
@media (any-hover: hover) {
  .menu__link--hire {
    transition: all 0.3s ease 0s;
  }
  .menu__link--hire:hover {
    color: #eeebff;
    background-color: #4338ca;
  }
}
.icon-menu {
  display: none;
}
@media (max-width: 37.5em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 25;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #4338ca;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}

.footer {
  background-color: #fef2f2;
}
@media (min-width: 48em) {
  .footer {
    padding-top: 6.875rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  @supports (padding-top: clamp( 3.75rem , 1.5178571429rem  +  11.1607142857vw , 6.875rem )) {
    .footer {
      padding-top: clamp( 3.75rem , 1.5178571429rem  +  11.1607142857vw , 6.875rem );
    }
  }
  @supports not (padding-top: clamp( 3.75rem , 1.5178571429rem  +  11.1607142857vw , 6.875rem )) {
    .footer {
      padding-top: calc(3.75rem + 3.125 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 20em) {
  .footer {
    padding-top: 3.75rem;
  }
}
@media (min-width: 48em) {
  .footer {
    padding-bottom: 6.875rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  @supports (padding-bottom: clamp( 3.75rem , 1.5178571429rem  +  11.1607142857vw , 6.875rem )) {
    .footer {
      padding-bottom: clamp( 3.75rem , 1.5178571429rem  +  11.1607142857vw , 6.875rem );
    }
  }
  @supports not (padding-bottom: clamp( 3.75rem , 1.5178571429rem  +  11.1607142857vw , 6.875rem )) {
    .footer {
      padding-bottom: calc(3.75rem + 3.125 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 20em) {
  .footer {
    padding-bottom: 3.75rem;
  }
}
.footer__title {
  margin-bottom: 1.25rem;
}
@media (max-width: 47.99875em) {
  .footer__title {
    text-align: center;
  }
}
.footer__subtitle {
  color: #9ca3af;
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.5555555556;
  max-width: 41.25rem;
  margin: 0 auto;
}
@media (min-width: 48em) {
  .footer__subtitle {
    margin-bottom: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  @supports (margin-bottom: clamp( 3.125rem , 0.8928571429rem  +  11.1607142857vw , 6.25rem )) {
    .footer__subtitle {
      margin-bottom: clamp( 3.125rem , 0.8928571429rem  +  11.1607142857vw , 6.25rem );
    }
  }
  @supports not (margin-bottom: clamp( 3.125rem , 0.8928571429rem  +  11.1607142857vw , 6.25rem )) {
    .footer__subtitle {
      margin-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 20em) {
  .footer__subtitle {
    margin-bottom: 3.125rem;
  }
}
.footer__links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 3.125rem;
  row-gap: 1.875rem;
}
.footer__link {
  color: #6b7280;
  font-size: 2rem;
}
@media (any-hover: hover) {
  .footer__link {
    transition: all 0.3s ease 0s;
  }
  .footer__link:hover {
    color: #4338ca;
    transform: scale(1.05);
  }
}

.intro {
  margin-top: 21.25rem;
  padding-bottom: 2.5rem;
}
@media (min-width: 48em) {
  .intro {
    margin-top: 21.25rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  @supports (margin-top: clamp( 8.125rem , -1.25rem  +  46.875vw , 21.25rem )) {
    .intro {
      margin-top: clamp( 8.125rem , -1.25rem  +  46.875vw , 21.25rem );
    }
  }
  @supports not (margin-top: clamp( 8.125rem , -1.25rem  +  46.875vw , 21.25rem )) {
    .intro {
      margin-top: calc(8.125rem + 13.125 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 20em) {
  .intro {
    margin-top: 8.125rem;
  }
}
.intro__body {
  display: flex;
}
@media (min-width: 120em) {
  .intro__body {
    column-gap: 5rem;
  }
}
@media (min-width: 48em) and (max-width: 120em) {
  @supports (column-gap: clamp( 2.5rem , 0.8333333333rem  +  3.4722222222vw , 5rem )) {
    .intro__body {
      column-gap: clamp( 2.5rem , 0.8333333333rem  +  3.4722222222vw , 5rem );
    }
  }
  @supports not (column-gap: clamp( 2.5rem , 0.8333333333rem  +  3.4722222222vw , 5rem )) {
    .intro__body {
      column-gap: calc(2.5rem + 2.5 * (100vw - 48rem) / 72);
    }
  }
}
@media (max-width: 48em) {
  .intro__body {
    column-gap: 2.5rem;
  }
}
@media (max-width: 47.99875em) {
  .intro__body {
    flex-direction: column;
  }
}
.intro__info {
  flex: 1 1 52.7118644068%;
}
.intro__name {
  color: #4338ca;
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
@media (min-width: 48em) {
  .intro__name {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  @supports (margin-bottom: clamp( 0.9375rem , -0.1785714286rem  +  5.5803571429vw , 2.5rem )) {
    .intro__name {
      margin-bottom: clamp( 0.9375rem , -0.1785714286rem  +  5.5803571429vw , 2.5rem );
    }
  }
  @supports not (margin-bottom: clamp( 0.9375rem , -0.1785714286rem  +  5.5803571429vw , 2.5rem )) {
    .intro__name {
      margin-bottom: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 20em) {
  .intro__name {
    margin-bottom: 0.9375rem;
  }
}
.intro__name::before {
  content: "";
  display: block;
  width: 6.25rem;
  height: 0.0625rem;
  background-color: #4338ca;
}
@media (max-width: 47.99875em) {
  .intro__name::before {
    width: 45%;
  }
}
.intro__title {
  font-weight: 700;
}
@media (min-width: 75.625em) {
  .intro__title {
    font-size: 4.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75.625em) {
  @supports (font-size: clamp( 2.125rem , 1.2710674157rem  +  4.2696629213vw , 4.5rem )) {
    .intro__title {
      font-size: clamp( 2.125rem , 1.2710674157rem  +  4.2696629213vw , 4.5rem );
    }
  }
  @supports not (font-size: clamp( 2.125rem , 1.2710674157rem  +  4.2696629213vw , 4.5rem )) {
    .intro__title {
      font-size: calc(2.125rem + 2.375 * (100vw - 20rem) / 55.625);
    }
  }
}
@media (max-width: 20em) {
  .intro__title {
    font-size: 2.125rem;
  }
}
@media (min-width: 48em) {
  .intro__title {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  @supports (margin-bottom: clamp( 0.9375rem , -0.1785714286rem  +  5.5803571429vw , 2.5rem )) {
    .intro__title {
      margin-bottom: clamp( 0.9375rem , -0.1785714286rem  +  5.5803571429vw , 2.5rem );
    }
  }
  @supports not (margin-bottom: clamp( 0.9375rem , -0.1785714286rem  +  5.5803571429vw , 2.5rem )) {
    .intro__title {
      margin-bottom: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 20em) {
  .intro__title {
    margin-bottom: 0.9375rem;
  }
}
.intro__text {
  line-height: 1.5555555556;
  color: #6b7280;
  max-width: 34.5625rem;
}
@media (min-width: 48em) {
  .intro__text {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  @supports (font-size: clamp( 0.875rem , 0.6964285714rem  +  0.8928571429vw , 1.125rem )) {
    .intro__text {
      font-size: clamp( 0.875rem , 0.6964285714rem  +  0.8928571429vw , 1.125rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.6964285714rem  +  0.8928571429vw , 1.125rem )) {
    .intro__text {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 20em) {
  .intro__text {
    font-size: 0.875rem;
  }
}
@media (min-width: 48em) {
  .intro__text {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  @supports (margin-bottom: clamp( 0.9375rem , -0.1785714286rem  +  5.5803571429vw , 2.5rem )) {
    .intro__text {
      margin-bottom: clamp( 0.9375rem , -0.1785714286rem  +  5.5803571429vw , 2.5rem );
    }
  }
  @supports not (margin-bottom: clamp( 0.9375rem , -0.1785714286rem  +  5.5803571429vw , 2.5rem )) {
    .intro__text {
      margin-bottom: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 20em) {
  .intro__text {
    margin-bottom: 0.9375rem;
  }
}
.intro__buttons {
  margin-bottom: 1.25rem;
}
.intro__button {
  min-height: 3.25rem;
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 0.3125rem;
}
@media (min-width: 48em) {
  .intro__button {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  @supports (font-size: clamp( 1rem , 0.9107142857rem  +  0.4464285714vw , 1.125rem )) {
    .intro__button {
      font-size: clamp( 1rem , 0.9107142857rem  +  0.4464285714vw , 1.125rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.9107142857rem  +  0.4464285714vw , 1.125rem )) {
    .intro__button {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 20em) {
  .intro__button {
    font-size: 1rem;
  }
}
@media (any-hover: hover) {
  .intro__button {
    transition: all 0.3s ease 0s;
  }
  .intro__button:hover {
    color: #eeebff;
    background-color: #4338ca;
  }
}
@media (min-width: 48em) {
  .intro__button:not(:last-child) {
    margin-right: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  @supports (margin-right: clamp( 0.625rem , 0.1785714286rem  +  2.2321428571vw , 1.25rem )) {
    .intro__button:not(:last-child) {
      margin-right: clamp( 0.625rem , 0.1785714286rem  +  2.2321428571vw , 1.25rem );
    }
  }
  @supports not (margin-right: clamp( 0.625rem , 0.1785714286rem  +  2.2321428571vw , 1.25rem )) {
    .intro__button:not(:last-child) {
      margin-right: calc(0.625rem + 0.625 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 20em) {
  .intro__button:not(:last-child) {
    margin-right: 0.625rem;
  }
}
.intro__subtext {
  font-size: 0.75rem;
  line-height: 1.3333333333;
  color: #6b7280;
  padding-top: 1.25rem;
  border-top: 1px solid #e5e7eb;
}
@media (max-width: 47.99875em) {
  .intro__subtext {
    margin-bottom: 1.25rem;
  }
}
.intro__image {
  flex: 1 1 40.5084745763%;
  overflow: hidden;
  border-radius: 6px;
  position: relative;
  z-index: -1;
}
@media (max-width: 47.99875em) {
  .intro__image {
    padding-bottom: 100%;
  }
}
.intro__image img {
  border-radius: 6px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}

@media (min-width: 75.625em) {
  .spheres__title {
    margin-bottom: 9.375rem;
  }
}
@media (min-width: 20em) and (max-width: 75.625em) {
  @supports (margin-bottom: clamp( 3.125rem , 0.8778089888rem  +  11.2359550562vw , 9.375rem )) {
    .spheres__title {
      margin-bottom: clamp( 3.125rem , 0.8778089888rem  +  11.2359550562vw , 9.375rem );
    }
  }
  @supports not (margin-bottom: clamp( 3.125rem , 0.8778089888rem  +  11.2359550562vw , 9.375rem )) {
    .spheres__title {
      margin-bottom: calc(3.125rem + 6.25 * (100vw - 20rem) / 55.625);
    }
  }
}
@media (max-width: 20em) {
  .spheres__title {
    margin-bottom: 3.125rem;
  }
}
.spheres__body {
  display: flex;
}
@media (min-width: 120em) {
  .spheres__body {
    column-gap: 3.125rem;
  }
}
@media (min-width: 48em) and (max-width: 120em) {
  @supports (column-gap: clamp( 1.875rem , 1.0416666667rem  +  1.7361111111vw , 3.125rem )) {
    .spheres__body {
      column-gap: clamp( 1.875rem , 1.0416666667rem  +  1.7361111111vw , 3.125rem );
    }
  }
  @supports not (column-gap: clamp( 1.875rem , 1.0416666667rem  +  1.7361111111vw , 3.125rem )) {
    .spheres__body {
      column-gap: calc(1.875rem + 1.25 * (100vw - 48rem) / 72);
    }
  }
}
@media (max-width: 48em) {
  .spheres__body {
    column-gap: 1.875rem;
  }
}
@media (max-width: 47.99875em) {
  .spheres__body {
    flex-direction: column;
    row-gap: 1.25rem;
  }
}
.spheres__image {
  flex: 1 1 37.2881355932%;
  position: relative;
}
@media (max-width: 47.99875em) {
  .spheres__image {
    padding-bottom: 70%;
  }
}
.spheres__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}
.spheres__info {
  flex: 1 1 58.4745762712%;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  column-gap: 1.875rem;
}
@media (min-width: 75.625em) {
  .spheres__info {
    row-gap: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 75.625em) {
  @supports (row-gap: clamp( 2.5rem , 2.0505617978rem  +  2.2471910112vw , 3.75rem )) {
    .spheres__info {
      row-gap: clamp( 2.5rem , 2.0505617978rem  +  2.2471910112vw , 3.75rem );
    }
  }
  @supports not (row-gap: clamp( 2.5rem , 2.0505617978rem  +  2.2471910112vw , 3.75rem )) {
    .spheres__info {
      row-gap: calc(2.5rem + 1.25 * (100vw - 20rem) / 55.625);
    }
  }
}
@media (max-width: 20em) {
  .spheres__info {
    row-gap: 2.5rem;
  }
}

.card-sphere__title {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5555555556;
}
@media (min-width: 48em) {
  .card-sphere__title {
    margin-bottom: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  @supports (margin-bottom: clamp( 0.625rem , 0.1785714286rem  +  2.2321428571vw , 1.25rem )) {
    .card-sphere__title {
      margin-bottom: clamp( 0.625rem , 0.1785714286rem  +  2.2321428571vw , 1.25rem );
    }
  }
  @supports not (margin-bottom: clamp( 0.625rem , 0.1785714286rem  +  2.2321428571vw , 1.25rem )) {
    .card-sphere__title {
      margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 20em) {
  .card-sphere__title {
    margin-bottom: 0.625rem;
  }
}
.card-sphere__text {
  font-size: 0.75rem;
  line-height: 1.3333333333;
  color: #6b7280;
}
@media (min-width: 48em) {
  .card-sphere__text {
    margin-bottom: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  @supports (margin-bottom: clamp( 0.625rem , 0.1785714286rem  +  2.2321428571vw , 1.25rem )) {
    .card-sphere__text {
      margin-bottom: clamp( 0.625rem , 0.1785714286rem  +  2.2321428571vw , 1.25rem );
    }
  }
  @supports not (margin-bottom: clamp( 0.625rem , 0.1785714286rem  +  2.2321428571vw , 1.25rem )) {
    .card-sphere__text {
      margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 20em) {
  .card-sphere__text {
    margin-bottom: 0.625rem;
  }
}
.card-sphere__link {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  color: #3730a3;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.3333333333;
  column-gap: 0.3125rem;
  transition: all 0.3s ease 0s;
}
.card-sphere__link::before {
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .card-sphere__link:hover::before {
    transform: translate(10px, 0px);
  }
}

.brands {
  padding: 100px 0;
  background-color: #fef2f2;
  position: relative;
  z-index: -1;
}
@media (max-width: 47.99875em) {
  .brands {
    padding: 50px 0;
  }
}
.brands__title {
  color: #9ca3af;
  font-size: 1.25rem;
  line-height: 1.4;
  margin-bottom: 1.25rem;
}
.brands__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 3.125rem;
  row-gap: 1.25rem;
  z-index: 1;
}
@media (max-width: 47.99875em) {
  .brands__cards {
    flex-wrap: wrap;
    column-gap: 1.25rem;
  }
}
.brands__card {
  flex: 1 1 20%;
}
.brands__image {
  min-height: 3.125rem;
  position: relative;
}
.brands__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: scale-down;
  z-index: -1;
}

@media (min-width: 75.625em) {
  .examples {
    padding-top: 9.375rem;
  }
}
@media (min-width: 20em) and (max-width: 75.625em) {
  @supports (padding-top: clamp( 3.75rem , 1.7275280899rem  +  10.1123595506vw , 9.375rem )) {
    .examples {
      padding-top: clamp( 3.75rem , 1.7275280899rem  +  10.1123595506vw , 9.375rem );
    }
  }
  @supports not (padding-top: clamp( 3.75rem , 1.7275280899rem  +  10.1123595506vw , 9.375rem )) {
    .examples {
      padding-top: calc(3.75rem + 5.625 * (100vw - 20rem) / 55.625);
    }
  }
}
@media (max-width: 20em) {
  .examples {
    padding-top: 3.75rem;
  }
}
@media (min-width: 48em) {
  .examples__title {
    margin-bottom: 9.375rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  @supports (margin-bottom: clamp( 2.5rem , -2.4107142857rem  +  24.5535714286vw , 9.375rem )) {
    .examples__title {
      margin-bottom: clamp( 2.5rem , -2.4107142857rem  +  24.5535714286vw , 9.375rem );
    }
  }
  @supports not (margin-bottom: clamp( 2.5rem , -2.4107142857rem  +  24.5535714286vw , 9.375rem )) {
    .examples__title {
      margin-bottom: calc(2.5rem + 6.875 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 20em) {
  .examples__title {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 47.99875em) {
  .examples__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, minmax(200px, 430px));
    gap: 1.875rem;
  }
}

.card-example {
  overflow: hidden;
  position: relative;
}
@media (max-width: 47.99875em) {
  .card-example:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
@media (any-hover: hover) {
  .card-example:hover .card-example__info {
    transform: translate(0px, 0px);
  }
}
.card-example__image {
  position: relative;
  height: 100%;
}
@media (max-width: 47.99875em) {
  .card-example__image {
    padding-bottom: 60%;
  }
}
.card-example__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}
.card-example__image--wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.5s ease 0s;
}
.card-example__body {
  padding: 1.25rem;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 5;
}
.card-example__info {
  background-color: #fff;
  padding: 1.25rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  transform: translate(0, 200%);
  transition: all 0.5s ease 0s;
}
.card-example__info::before {
  font-size: 1.5625rem;
}
@media (any-hover: hover) {
  .card-example__info:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .card-example__info:hover::before {
    color: #fff;
  }
  .card-example__info:hover .card-example__title {
    color: #fff;
  }
  .card-example__info:hover .card-example__subtitle {
    color: #fff;
  }
}
.card-example__title {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.5555555556;
}
.card-example__subtitle {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4285714286;
  color: #9ca3af;
}
@media (min-width: 47.99875em) {
  .card-example-high {
    grid-row: span 2;
  }
}
@media (min-width: 47.99875em) {
  .card-example-wide {
    grid-column: span 2;
  }
}
@media (any-hover: hover) {
  .card-example {
    transition: all 0.5s ease 0s;
  }
  .card-example:hover .card-example__image--wrapper {
    transition: all 0.5s ease 0s;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.items__body {
  display: grid;
  gap: 80px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
@media (min-width: 120em) {
  .items__body {
    gap: 5rem;
  }
}
@media (min-width: 48em) and (max-width: 120em) {
  @supports (gap: clamp( 2.5rem , 0.8333333333rem  +  3.4722222222vw , 5rem )) {
    .items__body {
      gap: clamp( 2.5rem , 0.8333333333rem  +  3.4722222222vw , 5rem );
    }
  }
  @supports not (gap: clamp( 2.5rem , 0.8333333333rem  +  3.4722222222vw , 5rem )) {
    .items__body {
      gap: calc(2.5rem + 2.5 * (100vw - 48rem) / 72);
    }
  }
}
@media (max-width: 48em) {
  .items__body {
    gap: 2.5rem;
  }
}
@media (max-width: 47.99875em) {
  .items__body {
    display: grid;
    gap: 80px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}
@media (max-width: 47.99875em) and (min-width: 120em) {
  .items__body {
    gap: 5rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 48em) and (max-width: 120em) {
  @supports (gap: clamp( 2.5rem , 0.8333333333rem  +  3.4722222222vw , 5rem )) {
    .items__body {
      gap: clamp( 2.5rem , 0.8333333333rem  +  3.4722222222vw , 5rem );
    }
  }
  @supports not (gap: clamp( 2.5rem , 0.8333333333rem  +  3.4722222222vw , 5rem )) {
    .items__body {
      gap: calc(2.5rem + 2.5 * (100vw - 48rem) / 72);
    }
  }
}
@media (max-width: 47.99875em) and (max-width: 48em) {
  .items__body {
    gap: 2.5rem;
  }
}
@media (max-width: 29.99875em) {
  .items__body {
    display: block;
  }
}

.body-item {
  text-align: center;
}
@media (max-width: 29.99875em) {
  .body-item:not(:last-child) {
    margin-bottom: 3.125rem;
  }
}
.body-item__image {
  display: inline-block;
  background-color: #eef2ff;
  padding: 3.125rem;
  position: relative;
  min-height: 2.5rem;
}
@media (min-width: 48em) {
  .body-item__image {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  @supports (margin-bottom: clamp( 0.9375rem , -0.1785714286rem  +  5.5803571429vw , 2.5rem )) {
    .body-item__image {
      margin-bottom: clamp( 0.9375rem , -0.1785714286rem  +  5.5803571429vw , 2.5rem );
    }
  }
  @supports not (margin-bottom: clamp( 0.9375rem , -0.1785714286rem  +  5.5803571429vw , 2.5rem )) {
    .body-item__image {
      margin-bottom: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 20em) {
  .body-item__image {
    margin-bottom: 0.9375rem;
  }
}
.body-item__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: scale-down;
}
.body-item__title {
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 1.2;
}
@media (min-width: 48em) {
  .body-item__title {
    margin-bottom: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  @supports (margin-bottom: clamp( 0.9375rem , 0.7142857143rem  +  1.1160714286vw , 1.25rem )) {
    .body-item__title {
      margin-bottom: clamp( 0.9375rem , 0.7142857143rem  +  1.1160714286vw , 1.25rem );
    }
  }
  @supports not (margin-bottom: clamp( 0.9375rem , 0.7142857143rem  +  1.1160714286vw , 1.25rem )) {
    .body-item__title {
      margin-bottom: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 20em) {
  .body-item__title {
    margin-bottom: 0.9375rem;
  }
}
.body-item__text {
  font-size: 1.125rem;
  line-height: 1.5555555556;
  color: #9ca3af;
}

@media (min-width: 75.625em) {
  .careers__title {
    margin-bottom: 9.375rem;
  }
}
@media (min-width: 20em) and (max-width: 75.625em) {
  @supports (margin-bottom: clamp( 3.125rem , 0.8778089888rem  +  11.2359550562vw , 9.375rem )) {
    .careers__title {
      margin-bottom: clamp( 3.125rem , 0.8778089888rem  +  11.2359550562vw , 9.375rem );
    }
  }
  @supports not (margin-bottom: clamp( 3.125rem , 0.8778089888rem  +  11.2359550562vw , 9.375rem )) {
    .careers__title {
      margin-bottom: calc(3.125rem + 6.25 * (100vw - 20rem) / 55.625);
    }
  }
}
@media (max-width: 20em) {
  .careers__title {
    margin-bottom: 3.125rem;
  }
}

.table-careers {
  overflow: auto;
}
.table-careers__inner {
  min-width: 37.5rem;
  width: 100%;
}
.table-careers__inner thead th {
  text-align: left;
  font-weight: 500;
  color: #6b7280;
  font-size: 1rem;
  line-height: 1.5;
}
.table-careers__inner th,
.table-careers__inner td {
  padding-bottom: 5rem;
}
@media (min-width: 48em) {
  .table-careers__inner th,
.table-careers__inner td {
    padding-right: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  @supports (padding-right: clamp( 0.625rem , -2.5rem  +  15.625vw , 5rem )) {
    .table-careers__inner th,
.table-careers__inner td {
      padding-right: clamp( 0.625rem , -2.5rem  +  15.625vw , 5rem );
    }
  }
  @supports not (padding-right: clamp( 0.625rem , -2.5rem  +  15.625vw , 5rem )) {
    .table-careers__inner th,
.table-careers__inner td {
      padding-right: calc(0.625rem + 4.375 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 20em) {
  .table-careers__inner th,
.table-careers__inner td {
    padding-right: 0.625rem;
  }
}
@media (min-width: 48em) {
  .table-careers__inner th,
.table-careers__inner td {
    padding-bottom: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  @supports (padding-bottom: clamp( 2.5rem , 0.7142857143rem  +  8.9285714286vw , 5rem )) {
    .table-careers__inner th,
.table-careers__inner td {
      padding-bottom: clamp( 2.5rem , 0.7142857143rem  +  8.9285714286vw , 5rem );
    }
  }
  @supports not (padding-bottom: clamp( 2.5rem , 0.7142857143rem  +  8.9285714286vw , 5rem )) {
    .table-careers__inner th,
.table-careers__inner td {
      padding-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 20em) {
  .table-careers__inner th,
.table-careers__inner td {
    padding-bottom: 2.5rem;
  }
}

.table-careers .table-careers__bold {
  font-weight: 600;
}
.table-careers .table-careers__bold span {
  font-weight: 400;
  color: #6b7280;
}

.table-careers .table-careers__position {
  font-size: 1rem;
  line-height: 1.5;
  color: #6b7280;
}

.table-careers .table-careers__year {
  text-align: right;
  padding-right: 1.25rem;
}
@media (max-width: 47.99875em) {
  .table-careers .table-careers__year {
    text-align: left;
  }
}
